<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--<= render "users/info" %>-->
      <%= render "books/form" %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= render "books/index", books: @books %>
    </div>


  </div>
</div>


