<h1>welcome to <strong>bookers</strong> !!</h1>
<p>
  in <strong>Bookers</strong>,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>
<%= link_to "start",  new_user_registration_path %>
